body{
    margin: 0;
    padding: 16px;
    background: yellow;
}
.card{
    margin: 40px auto;
    padding: 16px;
    max-width: 400px;
    background-color: aqua;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 24px 40px -10px #311b92;
}
.card img{
    width: 100%;
}